*{
padding: 0;
margin: 0;
}
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", sans-serif;
}

/* Comman Class */
.all-button{
background-color: #006A50;
color: #ffff;
font-size:18px ;
font-weight: 500;
padding: 15px 34px;
border: none;
border-radius: 8px;
margin-top: 16px;
}
body p{
    opacity: 70%;
    line-height: 1.5rem;
}
.container{
    max-width: 1280px;
    margin: auto;
}
/* Color */
.blue{
    background-color: #5490F5;
}
.green{
    background-color: #09A15C;

}
.orange{
    background-color: #FFC239;
}
.sky-blue{
    background-color: #5490f542;
}
.sky-green{
    background-color: #09a15d34;
}
.sky-orange{
    background-color: #ffc4393e;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #0E0E0E;
    padding: 80px 0 24px 0;
}

/* NavBar Css Start  */
.logo a{
    text-decoration: none;
    color: #0E0E0E;
}
nav{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.link-parent{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 15px;
}
.link-parent li{
    list-style: none;
}
.link-parent li a{
    text-decoration: none;
     color: #006A50;
    padding: 10px;
    transition: all 0.5s ease;
}
.link-parent li a:hover{
    background-color:#C6E4D6;
    padding: 10px;
    border-radius:8px ;
    color: #000;
}

.nav-bar button{
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}
.nav-bar button a{
    text-decoration: none;
    color: #006A50;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.bd2{
    color: #0e0e0e77;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    text-shadow: -1px -2px #0e0e0e77;
}

.header-slogan p{
    font-size: 50px;
    color: #0E0E0E;
    font-weight: 700;
    margin: 10px 0;
    opacity: 100%;
    line-height: 1.2;

}
.header-left button a{
    text-decoration: none;
    color: #ffff;
}
.header-right img{
    max-width: 475px;
}

/* pillar sectin css  */



.pillar-card {
    display: flex;
    gap: 24px;
}
.pillar-card .card{
    background-color: #ffff;
    padding: 24px;
    border: 1px solid rgba(210, 209, 209, 0.749);
    border-radius: 16px;
}
.card img{
    max-width: 64px;
}
.card .card-title{
    font-size: 20px ;
    font-weight: 600;
    color: #0e0e0ec5;
    margin: 24px 0px 12px;
}
.card p{
    font-size:16px ;
}

/*** Start feature css ***/

.feature p{
    color: #0E0E0E;
    opacity: 70%;
}

.feature-card{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 24px auto;
}
.feature-card .feature-card-content{
    padding: 32px;
    border-radius: 16px;
}

.feature-card-content img{
    width: 65px;
    height: 65px;
}
.feature-card-content h4{
    margin: 10px 0;
}
.feature-card-content button a{
    text-decoration: none;
    color: #fff;
}

.section-text{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
}
.section-text p{
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 60%;
    margin-top: 10px;
}
.section-text h4{
    font-weight: 600;
    color: #0E0E0E;
    opacity: 80%;
    font-size: 1.2rem;
}
.section-text i{
   position: absolute;
   font-size: 70px;
   color: #0E0E0E;
   opacity: 30%;
   margin-top: -15px;
}

.matters-table{
    padding: 24px;
    border-radius: 16px;
    background-color: #ffffff;
}
table{
    width: 100%;
}
table thead,select{
    background-color: #C6E4D6;
}
table thead{
    font-size: 1.5rem;
    font-weight: 600;
}

table ,tbody tr td{
    border: 2px solid #0e0e0e21;
    border-collapse: collapse;
}
table thead td{
    padding: 15px 24px;
}
table tbody td{
    padding: 24px;
}
.matters-title{
    padding: 25px 0;
    margin-top: 55px;
}
table select{
    padding: 14px 10px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
}
.center{
    width:25%;
    text-align: center;
}





